<div style="height: 100%; width: 100%; z-index: 3; position: absolute;">
  <div style="height: 100%; width: 100%; z-index: 2; opacity: 0.7; background-color: black;"></div>
  <div class="jh-gear-upgrade">
    <div class="jh-gear-upgrade-background">
      <div class="card jh-gear-upgrade-outerbox" *ngIf="waiting">
        <img src="/assets/images/loading.gif" style="width:100px;height:100px;margin:20px auto;">
      </div>
      <div class="card jh-gear-upgrade-outerbox" *ngIf="!waiting">
        <h5 class="title" style="text-align: center; margin-top: 10px;">{{['选择要合入的装备','Choose 1 Item to Merge'][language]}}</h5>
        <div class="jh-gear-upgrade-box" style="max-height: 380px; overflow-y: auto;">
          <div class="row text-center" style="margin: 0;" *ngIf="selectedRId != 0">
            <ng-container *ngFor="let item of sameItems; index as i">
              <div class="col-6">
                <label>
                  <input type="radio" [value]="item.rId" [(ngModel)]="selectedRId" style="margin-right: 10px;"/>
                    {{[item.nameCN,item.nameEN][language]}} - {{item.score}}%
                </label>
              </div>
            </ng-container>
          </div>
          <div class="row text-center" style="margin: 0;" *ngIf="selectedRId == 0">
            <div class="col-12">
              <h6>{{["您需要一件同等级的相同装备","You need another item of the same type and level."][language]}}</h6>
            </div>
          </div>
        </div>
        <h6 class="text-warning text-center">{{['需要','Costs'][language]}} {{cost}} <i class="icon-sgt"></i></h6>
        <div style="margin: 5px auto;">
          <button class="btn btn-sm btn-light" style="margin: 5px" [disabled]="selectedRId==0" (click)="upgrade()">{{['确定','Confirm'][language]}}</button>
          <button class="btn btn-sm btn-primary" style="margin: 5px" (click)="close()">{{['返回','Back'][language]}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-alert-message
  #alertMessage
  [titleCN]="alertTitleCN"
  [titleEN]="alertTitleEN"
  [bodyCN]="alertBodyCN"
  [bodyEN]="alertBodyEN"
  style="height: 100%; width: 100%; z-index: 4; position: absolute; top: 0"
  *ngIf="willShowAlertMessage"
  (onClose)="closeAlert()">
</app-alert-message>
