<div class="row jh-start-game-background">
  <div style="width:300px; margin: auto; text-align: right">
<!--    <h5 class="jh-start-game-info">请登录您的TronLink钱包。如果您没有安装TronLink钱包，请访问
      <a class="jh-start-game-link" target="_blank" href="http://u6.gg/gmc5D">http://u6.gg/gmc5D</a>
      并下载Chrome扩展程序。（加密三国志暂时只能使用Chrome浏览器）
    </h5>-->
  </div>
</div>
<div style="margin: -240px auto 0 auto; width: 400px;padding: 40px;">
  <button class="jh-start-game-button" (click)="startGame()">开始游戏</button>
  <div class="text-center"><a href="#" class="jh-start-game-link">点击这里，阅读安装指南</a></div>
</div>
