<div style="height: 100%; width: 100%; z-index: 3; position: absolute;">
  <div style="height: 100%; width: 100%; z-index: 2; opacity: 0.7; background-color: black;"></div>

  <div class="jh-player-gear-selection">
    <div class="card jh-player-gear-selection-outerbox" *ngIf="waiting">
      <img src="/assets/images/loading.gif" style="width:100px;height:100px;margin:20px auto;">
    </div>
    <div class="card jh-player-gear-selection-outerbox" *ngIf="!waiting">
      <h5 class="title" style="text-align: center; margin-top: 10px;">{{['选择英雄','Choose Hero'][language]}}</h5>
      <div class="jh-player-gear-selection-box">
        <div class="row">
          <div class="col-6" *ngFor="let unit of unitArray">
            <input type="radio"
                name="radio-hero"
                id="radio-{{unit.unitId}}"
                [(ngModel)]="selectedUnitId"
                [value]="unit.unitId"
                style="margin: 5px;"
                required
               />
            <label for="radio-{{unit.unitId}}">{{[unit.nameCN,unit.nameEN][language]}}
            </label>
          </div>
        </div>
      </div>
      <div style="margin: 5px auto;">
        <button class="btn btn-sm btn-light" style="margin: 5px" (click)="select()">{{['确定','Confirm'][language]}}</button>
        <button class="btn btn-sm btn-primary" style="margin: 5px" (click)="close()">{{['返回','Back'][language]}}</button>
      </div>
    </div>
    <div class="jh-player-gear-selection-background" (click)="close()">
    </div>
  </div>
</div>
