<div style="height: 100%; width: 100%; z-index: 3; position: absolute;">
  <div style="height: 100%; width: 100%; z-index: 2; opacity: 0.7; background-color: black;"></div>

  <div class="jh-market-sell-item">
    <div class="jh-market-sell-background">
      <div class="card jh-market-sell-item-outerbox" *ngIf="waiting">
        <img src="/assets/images/loading.gif" style="width:100px;height:100px;margin:20px auto;">
      </div>
      <div class="card jh-market-sell-item-outerbox" *ngIf="!waiting">
        <h5 class="title" style="text-align: center; margin-top: 10px;">{{['挂售装备','Sell Items'][language]}}</h5>
        <div class="jh-market-sell-item-box">
          <select class="btn btn-sm btn-light" style="height: 29px;min-width: 51px;" [(ngModel)]="selectedItemRId">
            <option *ngFor="let item of itemArray" [value]="item.rId">{{[item.nameCN, item.nameEN][language]}} L{{item.level}} {{item.score}}%</option>
          </select>
        </div>
        <div class="input-group jh-market-sell-item-box">
          <input type="number" class="form-control form-control-sm" placeholder="售价" [(ngModel)]="price" (click)="$event.target.select()">
          <div class="input-group-append">
            <span class="input-group-text form-control-sm" style="padding-left:4px; padding-right:4px;">IOST</span>
          </div>
        </div>

        <div style="margin: 5px auto;">
          <button class="btn btn-sm btn-light" style="margin: 5px" (click)="select()">{{['确定','Confirm'][language]}}</button>
          <button class="btn btn-sm btn-primary" style="margin: 5px" (click)="close()">{{['返回','Back'][language]}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
