.jh-market-sell-unit {
  width: calc(100% - 50px);
  margin-left: 25px;
  position: absolute;
  height: 100%;
  top:0;
  left: 0;
}

.jh-market-sell-unit-outerbox {
  padding: 10px;
  width: 220px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.jh-market-sell-unit-background {
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: 100px;
}

.jh-market-sell-unit-box {
  max-width: 120px;
  margin: 10px auto;
}
