<div style="height: 100%; width: 100%; z-index: 3; position: absolute;">
  <div style="height: 100%; width: 100%; z-index: 2; opacity: 0.7; background-color: black;"></div>

  <div class="jh-market-buy-item">
    <div class="jh-market-buy-background">
      <div class="card jh-market-buy-item-outerbox" *ngIf="waiting">
        <img src="/assets/images/loading.gif" style="width:100px;height:100px;margin:20px auto;">
      </div>
      <div class="card jh-market-buy-item-outerbox" *ngIf="!waiting">
        <h5 class="title" style="text-align: center; margin-top: 10px;">{{['购买装备','Sell Items'][language]}}</h5>

        <div class="row text-center" style="margin: 0;">
          <ng-container *ngFor="let item of itemData; index as i">
            <div class="col-6">
              <label>
                <input type="radio" name="radio-item" id="radio-item-{{item.itemId}}" [(ngModel)]="selectedItemId" [value]="item.itemId"/>
                  {{[item.nameCN,item.nameEN][language]}}
              </label>
            </div>
          </ng-container>
        </div>

        <div class="input-group">
          <input type="number" class="form-control form-control-sm" placeholder="最高售价" [(ngModel)]="price" (click)="$event.target.select()">
          <div class="input-group-append">
            <span class="input-group-text form-control-sm" style="padding-left:4px; padding-right:4px;">IOST</span>
          </div>
        </div>

        <h5 class="title" style="text-align: center; margin-top: 10px;">{{['买入数量','Amount to buy'][language]}}</h5>
        <div class="row text-center" style="margin: 0;">
          <ng-container *ngFor="let amount of [2,3,4]">
            <div class="col-4">
              <label>
                <input type="radio" name="radio-amount" id="radio-amount-{{amount}}" [(ngModel)]="amountToBuy" [value]="amount"/>
                  {{amount}}
              </label>
            </div>
          </ng-container>
        </div>

        <div style="margin: 5px auto;">
          <button class="btn btn-sm btn-light" style="margin: 5px" (click)="select()">{{['确定','Confirm'][language]}}</button>
          <button class="btn btn-sm btn-primary" style="margin: 5px" (click)="close()">{{['返回','Back'][language]}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
