<div style="height: 100%; width: 100%; z-index: 13; position: absolute;">
  <div class="jh-gear-filter-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{['设立搜索条件','Search Conditions'][language]}}</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">

        <h5>{{['排序方式', 'Order By'][language]}}</h5>
        <div class="row text-left" style="margin-bottom: 10px;">
          <div class="col-4">
            <input type="radio"
                id="sortBy-0"
                name="radio-order"
                [(ngModel)]="sortBy"
                [value]="0"
                style="margin: 5px;"
                required
               />
            <label style="margin:0" for="sortBy-0">{{['名称','Name'][language]}}
            </label>
          </div>
          <div class="col-4">
            <input type="radio"
                id="sortBy-1"
                name="radio-order"
                [(ngModel)]="sortBy"
                [value]="1"
                style="margin: 5px;"
                required
               />
            <label style="margin:0" for="sortBy-1">{{['等级','Level'][language]}}
            </label>
          </div>
          <div class="col-4">
            <input type="radio"
                id="sortBy-2"
                name="radio-order"
                [(ngModel)]="sortBy"
                [value]="2"
                style="margin: 5px;"
                required
               />
            <label style="margin:0" for="sortBy-2">{{['纯度','Quality'][language]}}
            </label>
          </div>
        </div>

        <h5>{{['显示选项', 'What to view'][language]}}</h5>
        <div class="row text-left" style="margin-bottom: 10px;">
          <div class="col-4">
            <input type="radio"
                id="filterBy-0"
                name="radio-filter"
                [(ngModel)]="filterBy"
                [value]="0"
                style="margin: 5px;"
                required
               />
            <label style="margin:0" for="filterBy-0">{{['全部','All'][language]}}
            </label>
          </div>
          <div class="col-4">
            <input type="radio"
                id="filterBy-1"
                name="radio-filter"
                [(ngModel)]="filterBy"
                [value]="1"
                style="margin: 5px;"
                required
               />
            <label style="margin:0" for="filterBy-1">{{['装备','Gears'][language]}}
            </label>
          </div>
          <div class="col-4">
            <input type="radio"
                id="filterBy-2"
                name="radio-filter"
                [(ngModel)]="filterBy"
                [value]="2"
                style="margin: 5px;"
                required
               />
            <label style="margin:0" for="filterBy-2">{{['材料','Material'][language]}}
            </label>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-sm btn-light" (click)="filter()">
              {{['确定','OK'][language]}}
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jh-gear-filter-background" (click)="close()"></div>
</div>
